.input-form {
  padding: 0.3em;
  display: grid;
  width: auto;
  grid-template-columns: 5em 10em;
  grid-column-gap: 0em;
  grid-row-gap: 2em;
}

.input {
  border: none;
  border-bottom: 1px solid tomato;
  outline: none;
  background: transparent;
}

@mixin login-button() {
  position: relative;
  width: 320px;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  letter-spacing: 0.5px;
  height: 108px;
  font-family: "DM Sans", sans-serif;
  background: #c7cdd1;
}

.login-button {
  @include login-button();
}

.login-button-enabled {
}

.login-button:before,
.login-button:after {
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  line-height: 108px;
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

.login-button:before {
  content: "yolo";
  font-size: 28px;
  border-radius: 4px 0 0 4px;
  width: 216px;
  color: #fff;
  background: #c7cdd1;
  left: 0;
}

.login-button:hover.login-button:before {
  background: #c7cdd1;
  width: 182px;
  opacity: 0;
}

.login-button:after {
  font-family: "Material Icons";
  content: "lock";
  font-size: 32px;
  border-radius: 0 4px 4px 0;
  width: 108px;
  background: #0fae98;
  right: 0;
  &.enable {
    content: "lock-open";
  }
}

.login-button:hover.login-button:after {
  width: 320px;
  content: "highlight_off";
  border-radius: 4px;
  font-size: 48px;
  background: #dd4e4e;
  cursor: not-allowed;
  animation: pop 0.2s;
  animation-direction: alternate;
}

.login-button:active.login-button:after,
.login-button:active.login-button:before {
  transition: 0.1s;
  background: #c7cdd1;
  color: #dd4e4e;
  font-size: 60px;
}

@keyframes pop {
  0% {
    border-radius: 0 4px 4px 0;
  }
  99% {
    border-radius: 20% 4px 4px 30%;
  }
  100% {
    border-radius: 0 4px 4px 0;
  }
}
