.border-bg {
  display: grid;
  height: 100vh;
  margin: 0em;
  place-items: center center;
  background: -webkit-linear-gradient(
    -180deg,
    rgb(235, 205, 217),
    rgb(232, 120, 65)
  );
  background: linear-gradient(-180deg, rgb(235, 205, 217), rgb(232, 120, 65));
}

.login-container {
  display: flex;
  width: 98%;
  height: 97%;
  flex-direction: row;
}

.login-screen {
  position: absolute;
  top: -5%;
  right: 0;
  width: 40%;
  height: 105%;
  display: grid;
  place-items: center;
  background: -webkit-linear-gradient(
    130deg,
    rgb(237, 237, 237),
    rgb(255, 255, 255)
  );
  background: linear-gradient(130deg, rgb(237, 237, 237), rgb(255, 255, 255));
  box-shadow: 2px 2px 14px rgba(134, 133, 133, 0.267);
}

.login-info {
  padding-top: 13em;
  padding-left: 10em;
  padding-right: 61%;
  width: 100%;
  background-color: white;
}

.login-info h1 {
  border: none;
}

.login-info h2 {
  font-size: 1.25em;
  border: none;
}

.input-form {
  background-color: #fff;
  padding: 3em 3em 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20em;
  height: 24em;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 2px;
  box-shadow: 0 2px 14px rgba(134, 133, 133, 0.267);
}

.input-container {
  padding: 1em 0;
}

.input-container p {
  font-size: 1em;
}

.input {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  width: 14em;
  height: 2em;
  border: none;
  outline: none;
  background: transparent;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border-bottom: 1px solid #ccc;
  &:hover {
    border-bottom: 1px solid #666;
  }
}

.input-container p {
  padding: 0.5em 0;
}

@mixin login-button {
  position: relative;
  width: 220px;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  letter-spacing: 0.5px;
  height: 48px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  background: #c7cdd1;
  box-shadow: 0 2px 4px rgba(134, 133, 133, 0.267);
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

@mixin login-button-pseudo {
  height: 48px;
  top: 0;
  right: 0;
  position: absolute;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

@mixin login-lock($icon) {
  font-family: "Material Icons";
  content: $icon;
  font-size: 1.5em;
  border-radius: 0 4px 4px 0;
  width: 88px;
  background: #84a4bd;
  right: 0;
}

@mixin login-status($icon, $bg-color, $cursor) {
  width: 220px;
  content: $icon;
  border-radius: 4px;
  font-size: 2em;
  background: $bg-color;
  cursor: $cursor;
  animation: pop 0.2s;
  animation-direction: alternate;
}

.login-button,
.login-button-enable {
  @include login-button();
}

.login-button:before,
.login-button:after,
.login-button-enable:before,
.login-button-enable:after {
  @include login-button-pseudo();
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

.login-button:before,
.login-button-enable:before {
  content: "yolo";
  font-size: 1.5em;
  border-radius: 4px 0 0 4px;
  width: 132px;
  color: #fff;
  background: #cedfe9;
  left: 0;
}

.login-button:hover.login-button:before,
.login-button-enable:hover.login-button-enable:before {
  background: #c7cdd1;
  width: 182px;
  opacity: 0;
}

.login-button:after {
  @include login-lock("lock");
}

.login-button-enable:after {
  @include login-lock("lock_open");
}

.login-button:hover.login-button:after {
  @include login-status("highlight_off", #e85b41, not-allowed);
}

.login-button-enable:hover.login-button-enable:after {
  @include login-status("done", #4c8bca, pointer);
}

.login-button:active.login-button:after,
.login-button:active.login-button:before {
  transition: 0.1s;
  background: #cedfe9;
  color: #e85b41;
  font-size: 2.5em;
  box-shadow: 0 0px 40px #e85b41;
}

@keyframes pop {
  0% {
    border-radius: 0 4px 4px 0;
  }
  99% {
    border-radius: 20% 4px 4px 30%;
  }
  100% {
    border-radius: 0 4px 4px 0;
  }
}
