.login-screen {
  display: grid;
  place-items: center;
  height: 100%;
  background: -webkit-linear-gradient(
    180deg,
    rgb(132, 164, 189),
    rgb(206, 223, 233)
  );
  background: linear-gradient(180deg, rgb(132, 164, 189), rgb(206, 223, 233));
}

.input-form {
  background-color: #eeeeee65;
  padding: 2% 0.3em;
  display: grid;
  justify-content: center;
  width: 22em;
  height: 30em;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.input {
  height: 2em;
  border: none;
  border-bottom: 1px solid tomato;
  outline: none;
  background: transparent;
}

@mixin login-button {
  position: relative;
  width: 220px;
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  letter-spacing: 0.5px;
  height: 68px;
  font-family: "DM Sans", sans-serif;
  background: #c7cdd1;
  box-shadow: 0 5px 10px rgb(134, 133, 133);
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

@mixin login-button-pseudo {
  height: 68px;
  top: 0;
  right: 0;
  position: absolute;
  line-height: 68px;
  vertical-align: middle;
  text-align: center;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

@mixin login-lock($icon) {
  font-family: "Material Icons";
  content: $icon;
  font-size: 32px;
  border-radius: 0 4px 4px 0;
  width: 108px;
  background: #0fae98;
  right: 0;
}

@mixin login-status($icon, $bg-color, $cursor) {
  width: 220px;
  content: $icon;
  border-radius: 4px;
  font-size: 48px;
  background: $bg-color;
  cursor: $cursor;
  animation: pop 0.2s;
  animation-direction: alternate;
}

.login-button,
.login-button-enable {
  @include login-button();
}

.login-button:before,
.login-button:after,
.login-button-enable:before,
.login-button-enable:after {
  @include login-button-pseudo();
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.41, 0.24, 0.96, 0.83);
}

.login-button:before,
.login-button-enable:before {
  content: "yolo";
  font-size: 28px;
  border-radius: 4px 0 0 4px;
  width: 116px;
  color: #fff;
  background: #c7cdd1;
  left: 0;
}

.login-button:hover.login-button:before,
.login-button-enable:hover.login-button-enable:before {
  background: #c7cdd1;
  width: 182px;
  opacity: 0;
}

.login-button:after {
  @include login-lock("lock");
}

.login-button-enable:after {
  @include login-lock("lock_open");
}

.login-button:hover.login-button:after {
  @include login-status("highlight_off", #dd4e4e, not-allowed);
}

.login-button-enable:hover.login-button-enable:after {
  @include login-status("done", #4c8bca, pointer);
}

.login-button:active.login-button:after,
.login-button:active.login-button:before {
  transition: 0.1s;
  background: #c7cdd1;
  color: #dd4e4e;
  font-size: 60px;
  box-shadow: 0 20px 100px rgb(212, 87, 87);
}

@keyframes pop {
  0% {
    border-radius: 0 4px 4px 0;
  }
  99% {
    border-radius: 20% 4px 4px 30%;
  }
  100% {
    border-radius: 0 4px 4px 0;
  }
}
