.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links {
  font-size: 1em;
  margin: 1em 0.5em;
  color: #333;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    color: #ffffff;
  }
}
